<!DOCTYPE html>
<!--
프로그램명 : 홈페이지 상품정렬 기본 양식 페이지
작성자 : 최성운
수정일 : 2020-06-21
팀명 : 파이썬클라스 (4조)
프로그램 설명: 크롤링한 데이터들이 들어가는 틀과 같은 페이지 
              여백에 크롤링 한 데이터들이 들어가게 된다.
-->
<html>
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content = "width=device-width", initial - scale = "1">
    <title>product</title>
    <link rel="stylesheet" href = "css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <style>
      li a.active {
        background-color: #E6E6E6;
        color: white;
      }
      li a:hover:not(.active) {
        background-color: #555;
        color: white;
      }
      .container1{
      display: grid;
      grid-column:1fr;
      grid-template-rows: 700px 700px;
      width: 1190.4px;
      }
      .container2{
        width: 80%;
        float: right;
        box-sizing: border-box;
        height: 1fr;
      }
    .left {
        width: 230px;
        float: left;
        box-sizing: border-box;
        height: 1fr;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md" style="background-color:#000000; color:#ffffff;margin-bottom:100px;"> <!-- navbar line 48 ~ 116-->
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            로그인
                 </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">     <!-- dropdown in navbar-->
                <a class="dropdown-item" href="signup.html">회원가입</a>
                <a class="dropdown-item" href="login.html">로그인</a>
                <a class="dropdown-item" href="Check_ID.html">아이디 찾기</a>
                <a class="dropdown-item" href="Check_PW.html">비밀번호 찾기</a>
            </li>
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            남자
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">        <!-- dropdown in navbar-->
            <a class="dropdown-item" href="M_Outer.html">아우터</a>
            <a class="dropdown-item" href="M_Top.html">상의</a>
            <a class="dropdown-item" href="M_Bottom.html">하의</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="men.html">전체</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            여자
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">         <!-- dropdown in navbar-->
            <a class="dropdown-item" href="W_Outer.html">아우터</a>
            <a class="dropdown-item" href="W_Top.html">상의</a>
            <a class="dropdown-item" href="W_Bottom.html">하의</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="women.html">전체</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            카테고리
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">         <!-- dropdown in navbar-->
            <a class="dropdown-item" href="All_Outer.html">아우터</a>
            <a class="dropdown-item" href="All_Top.html">상의</a>
            <a class="dropdown-item" href="All_Bottom.html">하의</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="All_Product.html">전체</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white">로그아웃</a>         <!-- link in navbar-->
        </li>
      </ul>
            </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="p&cshop.html"style="color:white"><strong>P&C shop</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" style="background-color:#fcfcfc">
          <span class="navbar-toggler-icon" style="text-align: center">=</span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">        
      <ul class="navbar-nav ml-auto">
        <form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref"></label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"> <!-- 세부검색 기능을 위한 선택 bar -->
    <option selected>선택</option>
    <option value="1">남자</option>
    <option value="2">여자</option>
    
  </select>
  <form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref"></label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"> <!-- 세부검색 기능을 위한 선택 bar -->
    <option selected>선택</option>
    <option value="1">아우터</option>
    <option value="2">상의</option>
    <option value="3">하의</option>
  </select>
</form>
        <form class="form-inline my-2 my-lg-0">                                  <!-- 검색창 in navbar-->
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul>
    </div>
  </nav>
  <div class="container2">                <!-- 가격별 구간 검색  line 117 ~ 128-->
    <div class="item">                
  <center>
  <td>
    <p><strong>만원에서 5만원 사이로 입력해주세요.</strong></p>
    <input type="email" name="ID" style="width:100px; height:30px;border-color:none;margin-bottom:20px;" >
    ~
    <input type="email" name="ID" style="width:100px; height:30px;border-color:none;margin-bottom:20px;" >
  </td>
</center>
</div>
</div> 
<div class="left">                      <!-- 카테고리 선택 list line 129 ~ 147 -->
      <div class="item">
        <ul style="list-style-type: none;margin:0; padding: 0; width: 200px; background-color: #000000;margin-left:0px;">
          <li><a class="active" href="{% url 'men' %}" style="display: block; color:#000000;padding: 8px 16px; text-decoration: none;margin-top:50px;margin-bottom:50px;">카테고리</a></li>
          <li><a href="{% url 'M_Outer' %}" style="display: block; color:#FAED7D;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">아우터</a></li>
          <li><a href="{% url 'M_suit' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">정장</a></li>
          <li><a href="{% url 'M_coat' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">코트</a></li>
          <li><a href="{% url 'M_padding' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">패딩</a></li>
          <li><a href="{% url 'M_Top' %}" style="display: block; color:#FAED7D;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">상의</a></li>
          <li><a href="{% url 'M_shortshirts' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">반팔</a></li>
          <li><a href="{% url 'M_longshirts' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">긴팔</a></li>
          <li><a href="{% url 'M_hoodshirts' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">후드티</a></li>
          <li><a href="{% url 'M_Bottom' %}" style="display: block; color:#FAED7D;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">하의</a></li>
          <li><a href="{% url 'M_shortpants' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">반바지</a></li>
          <li><a href="{% url 'M_jeans' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">청바지</a></li>
          <li><a href="{% url 'M_suitpants' %}" style="display: block; color:#FFFFFF;padding: 8px 16px; text-decoration: none;margin-bottom:50px;">정장바지</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
</body>
</html>
